<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
  <display-name>activiti_spring_demo</display-name>
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- To allow session-scoped beans in Spring -->
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  
  <servlet>
  	<servlet-name>img</servlet-name>
  	<servlet-class>com.Img</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>img</servlet-name>
  	<url-pattern>/img</url-pattern>
  </servlet-mapping>
  
  <!-- Session timeout on one day -->
  <session-config>
	<session-timeout>480</session-timeout>
  </session-config>
	
  <welcome-file-list>
    <welcome-file>jsp/login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>